@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<String> fruits = new List<string>() { "Banana", "apple", "pineapple", "cherry" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<datalist id="fruit_list">
    @foreach (String fruit in fruits)
    {
        <option>@fruit</option>
    }
    <option></option>
</datalist>

<input type="text" list="fruit_list" />

@for (int i = 0; i < 5; i++)
{
    <div>@i</div>
}

@section Scripts {
    <a class="index_google_link" href=" https://www.google.com">Google</a>
}
@section NavItems {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Error">Error</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://www.bing.com">Bing</a>
    </li>
}  