@page
@model Web_1001_Test.Pages.testModel
@{
    ViewData["Title"] = "Saurav_Arya Assignment";
}

<h1>test</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<h3 class="intro_name">Saurav Arya</h3>

<form method="get">
    <input name="firstNumber" type="number" step="1" value="@Model.firstNumber"/>
    <input name="secondNumber" type="number" step="1" value="@Model.secondNumber" />
    <input type="submit" value="submit" />
    @if(Model.ResultSet == true){
    <output>@Model.Result</output>
    }
</form>

@section NewSection {
<p>A paragraph to showcase the use of newly created section in the _Layout.cshtml</p>
} 